package ${pojoPackageName}.${moduleName}.model.dto;

import lombok.Data;
#foreach ($column in $columns)
    #if($column.javaType == 'Date')
    import java.util.Date;
        #break
    #end
    #if($column.javaType == 'BigDecimal')
    import java.math.BigDecimal;
        #break
    #end
#end

/**
 * ${functionName} 对象 DTO
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
public class ${ClassName}DTO {

    #foreach ($column in $columns)
        /**
         *  $column.columnComment
         */
        private $column.javaType $column.javaField;
    #end

}

