package ${servicePackageName}.dao.${moduleName};

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import ${pojoPackageName}.${moduleName}.entity.${ClassName};
import ${pojoPackageName}.${moduleName}.dto.${ClassName}DTO;
import ${pojoPackageName}.${moduleName}.query.${ClassName}Query;
import org.springframework.stereotype.Repository;
import org.apache.ibatis.annotations.Param;
import com.xiumu.common.core.page.PageQuery;

import java.util.List;

/**
 * ${functionName} Mapper 接口
 *
 * @author ${author}
 * @date ${datetime}
 */
@Repository
public interface ${ClassName}Dao extends BaseMapper<${ClassName}> {

    /**
     * 分页查询
     *
     * @param query 分页条件
     * @param ${className} 查询条件
     * @return
     */
    IPage<${ClassName}> selectPage(PageQuery<${ClassName}Query, ${ClassName}> query, @Param("${className}") ${ClassName}Query ${className});

    /**
     * 根据条件查询 ${functionName}
     *
     * @param ${className} 查询条件
     * @return
     */
    List<${ClassName}> selectBy${ClassName}(@Param("${className}") ${ClassName}Query ${className});


}
